node_modules
node_modules/
/node_modules
env
.env
document
document_vr
documents
masterDocument
It_ticket
new_user_csv_file
audit_qualification_doc
new_traning_file
new_assesment_doc
new_content_doc
attach_ticket_invoice
attach_file
candidate_profile_doc
expense_request
intercompany_doc
new_author_doc
new_traning_doc
new_user_doc
travel_ticket
vendor_Management_Pdf
accredition_csv
Asset_Management_pdf
# *app/config/db.config.js
Leave_Apply
certificateMaster
updatedocument
item_master
Courier_outward_doc
AMC_Agreement_doc
Rental_Agreement_doc
House_aggrement_doc
Insurance_doc
Facility_Remote_doc
Event_doc
onboarding_docs
new_candidate_onboarding

# config/db.config.js
app/config/db.config.js